@import "../combiner/combiner.scss";

.clicker {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  gap: 35px;
  &__header {
    color: $primary;
    font-size: 32px;
    text-align: center;
    margin: 0;
    user-select: none;
    filter: $element-glow;
  }

  &__coin {
    width: 300px;
    background-image: url("../../assets/images/coin.png");
    height: 300px;
    background-repeat: no-repeat;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.1s ease;
    &:active {
      transform: rotateY(15deg) scale(0.98);
    }
  }

  @keyframes clickAnimation {
    0% {
      transform: scale(1) rotateY(0);
    }
    50% {
      transform: scale(0.92) rotateY(5deg);
      opacity: 0.8;
    }
    100% {
      transform: scale(1) rotateY(0);
    }
  }

  &-info {
    &__balance {
      font-size: 32px;
      color: $primary;
      margin: 0;
      text-transform: uppercase;
      filter: $element-glow;
      user-select: none;
    }
    &__realvalue {
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      color: grey;
      text-align: center;
      user-select: none;
    }
  }
  &__floating {
    position: absolute;
    animation: float-up 1s ease-out forwards;
    color: $primary;
    font-size: 24px;
    width: max-content;
    pointer-events: none;
    user-select: none;
  }
  @keyframes float-up {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-50px);
      opacity: 0;
    }
  }
}
